<div class="glyph-container @(IsSelected ? "selected" : "")"
     @onclick="ToggleSelection"
     style="width:@($"{_ItemWidth}px") !important; height:@($"{_ItemHeight}px") !important;">

    <div class="glyph-header" style="height:@($"{_HeaderHeight}px") !important;">@MainViewModel.LVGLFont.Glyphs[GlyphId].Name</div>
    <SKCanvasView OnPaintSurface="@OnPaintSurface"
                  IgnorePixelScaling="false"
                  class="glyph-canvas"
                  @ref="@_SKCanvasView" />
</div>

