@using FontConverter.SharedLibrary.Models

<RadzenStack class="glyph-list-view"
             id="glyph-list-view">

    <RadzenStack Gap="@($"{_ListHorizontalGap}px")"
                 id="glyph-list-container"
                 class="glyph-list-container">

        <Virtualize ItemsProvider="LoadChunkedGlyphs"
                    ItemSize="@_VirtualizeRowHeight"
                    TItem="GlyphsGroupedEntry"
                    OverscanCount="2"
                    @ref="@virtualizeComponent">
            <EmptyContent>
                <RadzenStack Orientation="Orientation.Vertical"
                             AlignItems="AlignItems.Center"
                             JustifyContent="JustifyContent.Center"
                             Gap="20px"
                             class="empty-content">
                    <RadzenIcon Icon="psychology_alt"
                                Style="font-size: 100px !important; margin-top: 20px;" />
                    <span style="font-size: 20px !important;">No Data!</span>
                </RadzenStack>
            </EmptyContent>
            <ItemContent Context="entry">
                <GlyphListRowComponent GroupedEntry="entry" />
            </ItemContent>
        </Virtualize>

    </RadzenStack>
</RadzenStack>