<RadzenStack Orientation="Orientation.Vertical" class="header-container">
    <RadzenCard Variant="Variant.Text" class="header-content">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="5px">
            <RadzenImage Path="Assets/FontConverterLogo.png" Style="width:48px; height:48px;" />
            <RadzenStack Orientation="Orientation.Vertical" Gap="0px">
                <span style="font-size:18px; font-weight:bolder;">Font Converter</span>
                <span style="font-size:12px; font-weight:bold; color:#666;">Assistant For LVGL</span>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>
</RadzenStack>