<RadzenStack class="toolbar-container">
    <RadzenCard Variant="Variant.Filled" class="toolbar-content">
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Center"
                     Gap="5px">
            <RadzenToggleButton Icon="settings"
                                ButtonStyle="ButtonStyle.Base"
                                ToggleButtonStyle="ButtonStyle.Base"
                                Shade="Shade.Light"
                                ToggleShade="Shade.Darker"
                                class="rz-border-radius-10 rz-shadow-10 toolbar-button"
                                @bind-Value=@MainViewModel.LeftSidebarExpanded />
            <span class="toolbar-button-text">Settings</span>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Center"
                     Gap="5px">
            <RadzenButton Icon="draft"
                          ButtonStyle="ButtonStyle.Base"
                          Shade="Shade.Light"
                          class="rz-border-radius-10 rz-shadow-10 toolbar-button" />
            <span class="toolbar-button-text">New</span>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Center"
                     Gap="5px">
            <RadzenButton Icon="folder_open"
                          ButtonStyle="ButtonStyle.Base"
                          Shade="Shade.Light"
                          class="rz-border-radius-10 rz-shadow-10 toolbar-button" />
            <span class="toolbar-button-text">Open</span>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Center"
                     Gap="5px">
            <RadzenButton Icon="save"
                          ButtonStyle="ButtonStyle.Base"
                          Shade="Shade.Light"
                          class="rz-border-radius-10 rz-shadow-10 toolbar-button" />
            <span class="toolbar-button-text">Save</span>
        </RadzenStack>

        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Center"
                     Gap="5px">
            <RadzenButton Icon="code_blocks"
                          ButtonStyle="ButtonStyle.Base"
                          Shade="Shade.Light"
                          class="rz-border-radius-10 rz-shadow-10 toolbar-button" />
            <span class="toolbar-button-text">Export</span>
        </RadzenStack>

    </RadzenCard>
</RadzenStack>