@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveAuto"/>
<RadzenLayout style="grid-template-columns: auto 1fr; grid-template-areas: 'rz-header rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@ToggleLeftSidebar" />
            <RadzenLink Path="/" Style="display:flex; align-items:center; text-decoration: none !important;">
                <RadzenImage Path="Assets/FontConverterLogo.png" Style="width:32px; height:32px; margin-right:5px;" />
            </RadzenLink>
            <span>@SharedResources.AppName</span>
        </RadzenStack>
    </RadzenHeader>
    <LeftSidebarComponent @bind-Expanded="@isLeftSidebarExpanded" />
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    
</RadzenLayout>

